.single:hover .item-img{
    opacity: 0.5;
    
}
.title{
    position: absolute;
    transform:translateY(-38px);
    left:45px;
    opacity:0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    color:white;
    text-shadow: 2px 2px blueviolet;
    z-index: 2;
}
.link{
    position:absolute;
    transform:translateY(12px);
    left:45px;
    opacity:0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    

}
.single:hover .title{
    transform:translateY(40px);
    opacity:1;
    visibility: visible;
}
.single:hover .link{
    transform:translateY(-78px);
    opacity:1;
    visibility: visible;
}