a {
  color: #56c647;
}
.Member {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.305);
  justify-content: space-between;
  margin-top: 3rem;
}

.memberBox {
  display: flex;
  gap: 2rem;
}
.memberTitle {
  padding-bottom: 1rem;
}
.memberTitle h3 {
  font-size: 1.5rem;
  padding-bottom: 0.45rem;
  padding-top: 1rem;
}
.contacts div {
  padding-bottom: 0.5rem;
  display: flex;
  gap: 10px;
  align-items: center;
}
.socials {
  padding-block: 2rem;
  padding-left: 3rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.memberIcon {
  font-size: 1.8em;
}
.projects {
  background-color: #56c647;
  width: 100%;
  padding-block: 3rem;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.projects h3 {
  color: #07243a;
  font-size: 2rem;
  font-weight: 900;
}
.projects .projectP {
  color: #002040;
  font-size: 0.7rem;
}
.projectIcon {
  font-size: 4rem !important;
  color: aliceblue;
}
.project {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media (max-width: 750px) {
  .Member {
    display: block;
  }
  .socials {
    display: none;
  }
}
@media (max-width: 670px) {
  .memberBox {
    display: block;
    width: 100%;
    margin-inline: auto;
  }
  .memberBox img {
    width: 100%;
  }
  .memberDetails {
    padding-left: 1rem;
  }
  .socials {
    display: flex;
    width: 200px;
    padding-inline: 0rem;
    margin-inline: auto;
    flex-direction: row;
  }
}
