* {
  font-family: "Oxygen", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.container {
  width: min(1000px, 100% - 2rem);
  margin-inline: auto;
}
#heading {
  position: relative;
  color: #002040;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1.8px;
  margin-bottom: 3rem !important;
  padding-top: 15px;
}
#heading::before {
  content: "";
  width: 60px;
  border: 2px solid #ff6900;
  position: absolute;
  top: 0;
  left: 0;
}
p {
  color: #999;
  font-size: 14px;
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.paddingBottom {
  padding-bottom: 5rem;
}
.paddingTop {
  padding-top: 5rem;
}
